 {% include 'AEapp/header.html' %}
 {% load static %}
<div class="info">
<h2>Sobre Nós</h2>
<div>
<p>
    Este site  vai ser uma das formas de apresentar nosso produto e proporcionar acesso ao nosso grupo de Whattsapp.

    Somos um grupo de estudantes que decidiu juntar o útil ao agradável: aprender sobre empreendedorismo enquanto criamos sabonetes artesanais de verdade. Nosso objetivo é oferecer produtos feitos com ingredientes naturais, com atenção ao meio ambiente e à saúde da pele.

    Esse projeto é uma forma de colocar em prática o que estamos aprendendo e mostrar que dá pra fazer algo simples, consciente e que faça sentido no dia a dia.

    Se você valoriza produtos feitos com dedicação e que não enrolam, tá com a gente.

</p>
<a href="https://chat.whatsapp.com/Hnr8OKyBNu85Pjtqa5y5eF">Mais informação...</a>
</div>
</div>