{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<header >
    <img src="{% static 'images/logo-saboaria.png' %}" style="height: 260px; float: right;">

    <a href="/"style="text-decoration: none; color: black;">
    <h1 >AROMA & ESSÊNCIA</h1>
    </a>
    <p style="color: whitesmoke;">Versão de teste</p>
    <nav class="urls">
        <button class="headerButton">
        <a href="/sobre/">Sobre o nosso projeto</a>
        </button>
         <button class="headerButton">
        <a href="/contato/">Contato</a>
        </button>
    </nav>
</header>